@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.imported-background {
  background: linear-gradient(to right,rgba(245,245,245,.7),rgba(245,245,245,.7)),url("./assets/background.svg");

}